body {
  background: rgb(65, 13, 107);
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pure-form fieldset {
  border: none;
  padding: 0;
}

.pure-form label {
  display: block;
  margin-bottom: 0.5em;
}

.pure-form input, 
.pure-form select {
  display: block;
  margin-bottom: 1em;
  width: auto;
}

#loginSection a, #loginSection button {
  margin: 0.8em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0;
}

th, td {
  padding: 10px;
  border: 2px solid rgb(166, 86, 232);;
}

input, select {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}

button, .pure-button {
  background-color: rgb(166, 86, 232);
  color: white;
  border: none;
  padding: 0.5em 2em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  margin: 0.5em;
}

button:hover, .pure-button:hover {
  background-color: rgb(123, 62, 172);
}
/* 
#lout {
  justify-content: right;
} */

#form-div {
  margin-bottom: 2em;
}

#table-div {
  margin-top: 2em;
}

h1, h2 {
  margin-bottom: 1em;
  text-align: center;
}

.tabs {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  cursor: pointer;
}

.tabs li {
  padding: 10px 20px;
  background-color: rgb(166, 86, 232);
  border-radius: 5px;
}

.tabs li.active {
  background-color: rgb(122, 0, 223);
  color: white;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(67, 0, 123); 
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 500px;
  max-width: 80%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

#statHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}